<div class="footer">
	<footer>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Logout</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Right 1</a></li>
			<li><a href="#">Right 2</a></li>
		</ul>
	</footer>
</div>